html {
	font-family: 'Kite One', sans-serif;
}
#header {
	position:fixed;
	width:100%;
	top:0px;
	left:0px;
	height:20px;
	/*background-color: rgba(0, 0, 0, 0.1);*/
}

ul {
	text-align:center;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	display: inline;
	padding: 30px;
	/*letter-spacing: -7px;*/
}

li:hover {
	letter-spacing: 0px;
}


p {
	text-align: center;
	color: rgba(0, 0, 0, 0.5);
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
	color: rgba(0, 0, 0, 0.5);

}

#name {
	text-align: center;
	color: rgba(255,0,0,0.5);
}

#twitter-link {
	text-decoration: none;
	color: rgba(0, 0, 255, 0.3);
	letter-spacing: -10px;
}

#twitter-link:hover {
	color: rgba(255, 0, 0, 0.4);
	letter-spacing: -0px;
}

#twitter-link:active {
	color: rgba(255, 255, 0, 0.5);
}



.link {
	text-decoration: none;
	color: rgba(0, 0, 255, 0.5);
}

.link:hover {
	color: rgba(255, 0, 0, 0.5);
}

.link:active {
	color: rgba(255, 255, 0, 0.5);
}

.italics{
	font-style: italic;
}

#platypus {
	opacity: 0.3;
	display: block;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.3;

}

#platypus:hover {
  	opacity: 1.0;

}

map: hover {
	#platypus {
		opacity: 1.0;
}
}

#footer-content {
	font-weight: bold;
	opacity: 0.5;
	
}

#footer-content:hover {
	 padding-bottom: 3em;
	color: rgba(255,0,0,0.5);
	font-weight: bold;
	opacity: 0.5;
}
#footer {
	text-align: center;
       	clear: both;
	position: relative;
	z-index: 10;
	height: 3em;
	margin-top: -3em;
}
#container { height: auto; min-height: 100%;
 }
