html {
	font-family: 'Kite One', sans-serif;
}

/*.rainbow {*/
  /*background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );*/*/
  /*background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );*/*/
  /*color:transparent;*/*/
  /*-webkit-background-clip: text;*/*/
  /*background-clip: text;*/*/
/*}*/

/*#Bday {*/
    /*text-align: center;*/
}
/*#Steve {*/
	/*display: block;*/
	/*margin-left: auto;*/
	/*margin-right: auto;*/
/*}*/
#header {
	position:fixed;
	width:100%;
	top:0px;
	left:0px;
	height:20px;
	/*background-color: rgba(0, 0, 0, 0.1);*/
}

ul {
	text-align:center;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	display: inline;
	padding: 30px;
	/*letter-spacing: -7px;*/
}

li:hover {
	letter-spacing: 0px;
}


p {
	text-align: center;
	color: rgba(0, 0, 0, 0.5);
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
	color: rgba(0, 0, 0, 0.5);

}

#name {
	text-align: center;
	color: rgba(255,0,0,0.5);
}

#twitter-link {
	text-decoration: none;
	color: rgba(0, 0, 255, 0.5);
	/*letter-spacing: -10px;*/
    /*transition: all .13s linear;*/
    /*-webkit-transition: all .13s linear;*/
}

#twitter-link:hover {
	color: rgba(255, 0, 0, 0.4);
	/*letter-spacing: -0px;*/
    /*transition: all .13s linear;*/
    /*-webkit-transiton: all .13s linear;*/
}

#twitter-link:active {
	color: rgba(255, 255, 0, 0.5);
}



.link {
	text-decoration: none;
	color: rgba(0, 0, 255, 0.5);
}

.link:hover {
	color: rgba(255, 0, 0, 0.5);
}

.link:active {
	color: rgba(255, 255, 0, 0.5);
}

.italics{
	font-style: italic;
}

#portrait {
    width: 216px;
    height: 216px;
    border-radius: 50%;
    display: block;
	margin-left: auto;
	margin-right: auto;

}
/*#platypus {*/
	/*opacity: 0.3;*/
	/*display: block;*/
	/*margin-left: auto;*/
	/*margin-right: auto;*/
	/*opacity: 0.3;*/
    /*transition: all .12s linear;*/
    /*-webkit-transition: all .12s linear;*/

/*}*/

#platypus:hover {
  	opacity: 1.0;
    transition: all .12s linear;
    -webkit-transition: all .12s linear;

}

map: hover {
	#platypus {
		opacity: 1.0;
}
}

/*.terminal {*/
    /*color: lime;*/
    /*font-family: "Courier";*/
    /*font-size: 20px;*/
    /*margin: 10px 0 0 10px;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*width: 30em;*/

/*}*/

#footer-content {
	font-weight: bold;
	opacity: 0.5;

}

#footer-content:hover {a
	text-align: center;
	padding-bottom: 3em;
	color: rgba(255,0,0,0.5);
	font-weight: bold;
	opacity: 0.5;
}
#footer {
    text-align: center;
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}
#first_page {
    height: 100vh;
}
html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; }


.chart {
    /*fill-opcaity: 0.6;*/
    /*fill: steelblue;*/
    /*display: inline-block;*/
    float: left;
    margin: auto;
    margin-left: 5%;
    margin-bottom: 100px;
}

.chart text {
  fill: rgba(0,0,0,0.5);
  font: 10px sans-serif;
  text-anchor: end;
}

.remaining_amt {
    fill: red;
}

.axis text {
  font: 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
}

rect {
    /*fill-opcacity: 0.2;*/
    fill: rgba(255,0,0,0.3);

}
.bar {
    fill: rgba(255, 0, 0, 0.5);
}

.bar:hover{
    fill: rgba(255, 0, 0, 1);
}
#chart_title {
    opacity: 0.5;
}
#stats {
    margin-top: 15%;
    float: left;
    margin-left: 40px;
    /*display: inline-block;*/
}
.stat_text {
    opacity: 0.5;
    margin-top: 10px;
    /*font: 90px;*/
}
#caffeine {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    text-align: center;
}
#Current_mg, #Average_mg {
    font-weight: bold;
    color: rgba(0,0, 255, 1);
    opacity: 0.5;
    font-size: 2em;
}


